.navbar{
    background-color:rgb(88, 21, 88);
}

.navbar-brand{
    color:gold;
}

.nav-link{
    color:gold;
}

.dropdown-menu{
    background-color:rgb(88, 21, 88);
}

.dropdown-item{
    color:gold;
}

#index-title{
    color:teal;
    margin-left:10px;
    margin-top:10px;
}

header-row{
    border-bottom:2px solid gray;
    border-bottom-style:ridge;
}

#index-container{
    background-color:white;
}

.box{
    margin-top:5px;
}

.fade-effect1{
    display:block;
    border:none;
    color:white;
    height:1px;
    width:100%;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 550, from(#000), to(#fff));
}

.comp-col{
    margin-bottom:50px;
}

#page-title{
    text-align:left;
    color:teal;
    font-style:bold;
    margin-top:15px;
    margin-left:15px;
}

.divider-bar{
    border-bottom:10px solid maroon;
}

.comp-header{
    text-align:center;
    color:teal;
}

#active-vis{
    border:2px solid teal;
}

#sidebar-col{
    margin-left:5px;
    margin-right:5px;
}